<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <meta name="description" content="<%=description %>">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div class="wrapper">
    <%- include('header.ejs'); %>
      <main id="registration">
        <h1 style="text-align: center; margin: 10rem 0;">
          <%= message %>
        </h1>
      </main>
      <%- include('footer.ejs'); %>
  </div> <!-- end wrapper -->
</body>

</html>